<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>This is my first website!</title>
</head>

<body>
<h1>This is my first website!</h1>

<p>This is a <b>PARAGRAPH</b> on my first web page</p>

<p>This is the 2<sup>nd</sup> <i>paragraph</i> on my first web page</p>

<hr />

<h2>This is the 2<sup>nd</sup> heading on my web page</h2>

<hr />

<ol>
    <li>The first entry</li>
    <li>The second entry</li>
    <li>The third entry</li>
    <li>The fourth entry</li>
</ol>

<ul>
    <li>Number 1</li>
    <li>Number 2</li>
    <li>Number 3</li>
    <li>Number 4</li>
</ul>

<p>
    <ul>
        <li><a href="http://www.imdb.com" target="_blank">IMDB</a></li>
        <li><a href="/test">To the test page</a></li>
        <li><a href="/button">Buttons</a></li>
        <li><a href="/forms">Forms</a></li>
    </ul>

<figure>
    <img src="../static/egg.jpg" alt="This should be a picture of an egg" title="I call this one EGG" />
    <br />
    <figcaption>This is a fantastic picture of an egg.</figcaption>
</figure>

<table>
    <tr>
        <th></th>
        <th scope="col">col1</th>
        <th scope="col">col2</th>
        <th scope="col">col3</th>
    </tr>
    <tr>
        <th scope="row">row1</th>
        <td>1</td>
        <td colspan="2">2</td>
    </tr>
    <tr>
        <th scope="row">row2</th>
        <td><b>4</b></td>
        <td><b>5</b></td>
        <td><b>6</b></td>
    </tr>
</table>


</body>

</html>